{% load static %}
{% autoescape off %}
Password Reset Request for {{ email }}

Hello {{ username.get_username }},

We received a request to reset your password for your account. To reset your password, please click the link below:
{{ protocol }}://{{ domain }}{% url 'password_reset_confirm' uidb64=uid token=token %}

If you did not request this change, please ignore this email.


Thank you,
The Khana Kazhana Team

If you have any questions or need further assistance, please contact our support team.
© {{ current_year }} Khana Kazhana. All rights reserved.
{% endautoescape %}