body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
header {
    background-color: #013467;
    color: white;
    padding: 10px 20px;
}
nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
nav .logo a {
    font-family: "New Amsterdam", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-size: 35px;
    font-weight: bolder;
    color: #ffbf00;
    text-decoration: none;
}
nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
}
nav ul li {
    position: relative;
    margin-right: 20px;
}
nav ul li a {
    color: white;
    text-decoration: none;
    padding: 8px 15px;
    transition: background-color 0.3s;
    border-radius: 5px;
}
nav ul li a:hover {
    color: #ffbf00;
}
nav ul li .dropdown {
    display: none;
    position: absolute;
    background-color: #013467;
    text-align: center;
    width: 100px;
    border-radius: 5px;
    margin-top: 5px;
    z-index: 1;
}
nav ul li:hover .dropdown {
    display: block;
}
nav ul li .dropdown li {
    margin: 10px;
}
@media (max-width: 600px) {
    nav ul {
        flex-direction: column;
    }
    nav ul li {
        margin-bottom: 10px;
    }
    nav ul li .dropdown {
        width: 100%;
    }
}
.content {
    margin: 10px auto;
    padding: 10px;
    background-color: white;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}
footer {
    text-align: center;
    padding: 10px;
    background-color: #013467;
    color: white;
    position: relative;
    bottom: 0;
    width: 100%;
}
@media (max-width: 600px) {
    nav ul {
        flex-direction: column;
    }
    nav ul li {
        margin-bottom: 10px;
    }
    .content {
        margin: 10px;
        padding: 15px;
    }
}
#welcome-note {
    text-align: center;
    margin-bottom: 20px;
}
#welcome-note h1 {
    color: #ffbf00;
}
#explore {
    text-align: center;
    margin-bottom: 40px;
}
.explore-btn {
    display: inline-block;
    padding: 10px 20px;
    background-color: #ff1414;
    color: white;
    text-decoration: none;
    border-radius: 5px;
    transition: 0.3s ease;
    font-weight: bold;
}
.explore-btn:hover {
    /* background-color: #ffbf00; */
    background-color: rgba(255, 191, 0, 0.5);
    color: #ff1414;
}
.restaurant-list {
    display: flex;
    margin-bottom: 20px;
    padding: 10px;
    background-color: #f1f1f1;
    border-radius: 5px;
    transition: background-color 0.3s;
}
.restaurant-list:hover {
    background-color: #e9ecef;
}
.restaurant-list a {
    text-decoration: none;
    color: inherit;
}
.restaurant-list img {
    width: 150px;
    height: 150px;
    object-fit: cover;
    margin-right: 20px;
    border-radius: 5px;
}
.res-attributes {
    float: right;
    flex-direction: column;
    justify-content: left;
}
.res-attributes h3 {
    margin: 0;
    font-size: 1.5em;
    color: #013467;
}
.res-attributes p {
    margin: 5px 0;
}
h3.no-restaurants {
    text-align: center;
    color: #999;
    margin-top: 20px;
}

.foodtype img{
    height: 20px;
    width: 20px;
}


.switch {
    position: relative;
    display: inline-block;
    width: 50px; 
    height: 24px; 
    margin-right: 30px;
}

.switch input {
    opacity: 0; 
    width: 0;
    height: 0;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc; 
    transition: .4s; 
    border-radius: 24px; 
}

.slider:before {
    position: absolute;
    content: "";
    height: 20px; 
    width: 20px; 
    left: 2px;    
    bottom: 2px;
    background-color: white;
    transition: .4s;
    border-radius: 50%;
}


input:checked + .slider {
    background-color: #4CAF50; 
}

input:checked + .slider:before {
    transform: translateX(25px); 
}

.label {
    color: #333; 
    font-size: 18px; 
    margin-right: 5px;
    font-weight: bold;
}


.pagination {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px 0;
    font-family: 'Helvetica Neue', Arial, sans-serif;
    font-size: 12px; /* Smaller font size */
}

.step-links {
    display: flex;
    align-items: center;
}

.current {
    margin: 0 10px;
    font-weight: bold;
    color: #fff;
    background-color: #043a75;
    padding: 5px 10px; /* Smaller padding */
    border-radius: 3px; /* Smaller rounded corners */
}

.step-links a {
    text-decoration: none;
    color: #043a75;
    padding: 5px 10px; /* Smaller padding */
    border: 1px solid #043a75; /* Thinner border */
    border-radius: 3px;
    margin: 0 3px; /* Smaller margin between links */
    transition: background-color 0.3s, color 0.3s, transform 0.2s;
}

.step-links a:hover {
    background-color: #043a75;
    color: #ffffff;
    transform: translateY(-1px); /* Slightly less lift effect */
}

.step-links a.active {
    background-color: #043a75;
    color: #fff;
    border-color: #043a75;
}

.step-links a:disabled {
    color: #ccc;
    border-color: #ccc;
    cursor: not-allowed;
}

@media (max-width: 600px) {
    .pagination {
        flex-direction: column;
        align-items: flex-start;
    }

    .step-links a {
        margin-bottom: 5px; /* Smaller spacing between links */
    }
}

.reviews {
    margin: 20px 0; 
    padding: 15px;
    background-color: #f9f9f9;
    border-radius: 8px; 
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); 
}

.reviews h2 {
    font-size: 24px; 
    margin-bottom: 15px;
    color: #043a75;
}

.reviews a {
    display: inline-block; 
    margin-bottom: 15px; 
    padding: 10px 15px; 
    background-color: #ff1414; 
    color: #fff; 
    border-radius: 5px;
    text-decoration: none;
    transition: background-color 0.3s, transform 0.2s;
}

.reviews a:hover {
    background-color: #fc00009f; 
    transform: translateY(-1px);
}

.review-list {
    margin-bottom: 10px;
    padding: 10px; 
    border: 1px solid #ddd; 
    border-radius: 5px; 
    background-color: #ffffff; 
}

.review-list strong {
    color: #043a75; 
}

.review-list p {
    margin: 5px 0 0; 
    font-size: 16px; 
    color: #333; 
}

.review-list li {
    list-style-type: none; 
}

.star-rating {
    color: gold; 
    font-size: 16px; 
    margin-left: 5px; 
}

/* FORMS STYLE */
.review-form-container {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    background-color: #f9f9f9;
    border: 1px solid #ddd;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}


.review-form {
    display: flex;
    flex-direction: column;
}

.review-form label {
    font-weight: bold;
    margin-bottom: 10px;
    color: #333;
}


.review-form input[type="text"],
.review-form textarea,
.review-form select {
    width: 95%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
    transition: border-color 0.3s ease;
}

.review-form input[type="text"]:focus,
.review-form textarea:focus,
.review-form select:focus {
    border-color: #007bff;
    outline: none;
}


.submit-btn {
    padding: 12px 20px;
    background-color: #ff1414;
    color: white;
    font-size: 16px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin-top: 10px;
}

.submit-btn:hover {
    background-color:#ff1414 ;
}

.back-link {
    display: inline-block;
    margin-top: 15px;
    color: #043a75;
    text-decoration: none;
    font-size: 16px;
}

.back-link:hover {
    color: #ff1414;
}

.review-form-container h2 {
    text-align: center;
    font-size: 24px;
    margin-bottom: 20px;
    color: #043a75;
}

.restaurant-list {
    position: relative;
}

.bookmark-form {
    position: absolute;
    top: 10px;
    right: 10px;
}

.visit-form {
    position: absolute;
    
    top: 10px;
    right: 40px;
}

#filter-section {
    background-color: #f1f1f1;
    padding: 10px;
    border-radius: 6px;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
    position: relative;
}

#filter-section form {
    display: flex;
    flex-wrap: wrap;
    gap: 8px;
    justify-content: flex-start;
}

#filter-section input[type="text"],
#filter-section select {
    flex: 1;
    max-width: 200px;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 14px;
}
#filter-section input[type="text"]:focus,
#filter-section select:focus {
    border-color: #ff1414;
    outline: none;
}

.toggle-container {
    position: absolute;
    right: 0;
    top: 20px;
    display: flex;
    align-items: center;
    gap: 10px; 
}


.toggle-container span {
    font-size: 14px;
    font-weight: bold;
}

#filter-section button[type="submit"] {
    background-color: #ffbf00;
    color: white;
    padding: 8px 12px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 14px;
    transition: background-color 0.3s;
}

#filter-section button[type="submit"]:hover {
    background-color: #ff1414;
}

#filter-section select {
    margin-top: 5px;
}

@media screen and (max-width: 768px) {
    #filter-section .toggle-container {
        top: auto;
        bottom: 10px;
        right: 10px;
    }
}

.login-container {
    max-width: 300px;
    margin: 0 auto; 
    padding: 2em;
    border: 1px solid #ccc;
    border-radius: 8px;
    background-color: #f9f9f9;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
}

.login-container h2 {
    text-align: center;
    font-size: 2em;
    margin-bottom: 1em;
    color: #333;
}

.login-container p {
    color: #e74c3c;
    text-align: center;
}

.login-container input {
    width: 95%; 
    padding: 0.5em; 
    margin-bottom: 0.5em; 
    border: 1px solid #ccc; 
    border-radius: 4px; 
    box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.1); 
    font-size: 1em; 
}

.login-container .help-text {
    font-size: 0.85em; 
    color: #555; 
    margin-bottom: 1em; 
}

.login-container button[type="submit"] {
    width: 50%; 
    padding: 0.7em; 
    background-color: #043a75; 
    color: white; 
    border: none; 
    border-radius: 4px; 
    cursor: pointer; 
    font-size: 1.1em; 
    transition: background-color 0.3s; 
}

.login-container button[type="submit"]:hover {
    background-color: #0465cd; 
}

.login-container a {
    display: block; 
    text-align: center; 
    margin-top: 1em; 
    color: Grey; 
    text-decoration: none; 
    transition: 0.2s ease; 
}

.login-container a:hover {
    color: #ffbf00; 
}

.signup-container {
    max-width: 600px;
    margin: 0 auto; 
    padding: 2em; 
    border: 1px solid #ccc; 
    border-radius: 8px; 
    background-color: #f9f9f9; 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
    margin-bottom: 5em;
}

.signup-container h2 {
    text-align: center; 
    font-size: 2em; 
    margin-bottom: 1em; 
    color: #333; 
}

.signup-container input {
    width: 95%; 
    padding: 0.5em; 
    margin-bottom: 0.5em; 
    border: 1px solid #ccc; 
    border-radius: 4px; 
    box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.1); 
    font-size: 1em; 
}

.signup-container ul, .signup-container span{
    display: none; 
}

.signup-container button[type="submit"] {
    width: 98%; 
    padding: 0.7em; 
    background-color: #043a75; 
    color: white; 
    border: none; 
    border-radius: 4px; 
    cursor: pointer; 
    font-size: 1.1em; 
    transition: background-color 0.3s; 
}

.signup-container button[type="submit"]:hover {
    background-color: #0465cd; 
}

.signup-container a { 
    margin-top: 1em; 
    color: grey; 
    text-decoration: none; 
    transition: 0.2s ease; 
}

.signup-container a:hover {
    color: #ffbf00; 
}

.dish-form {
    max-width: 400px;
    margin: 30px auto;
    padding: 15px;
    border: 1px solid #ddd;
    border-radius: 8px;
    background-color: #f9f9f9;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.form-field {
    margin-bottom: 15px;
}

.form-field label {
    font-weight: bold;
    display: block;
    margin-bottom: 5px;
    color: #333;
}

.dish-form input[type="text"],
.dish-form input[type="number"],
.dish-form input[type="file"],
.dish-form select {
    width: 95%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 14px;
    transition: border-color 0.3s;
}

.dish-form input[type="text"]:focus,
.dish-form input[type="number"]:focus,
.dish-form input[type="file"]:focus,
.dish-form select:focus {
    border-color: #007BFF;
    outline: none;
}

.dish-form button {
    width: 100%;
    padding: 10px;
    font-weight: bold;
    background-color: #28a745;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 14px;
    transition: background-color 0.3s;
}

.dish-form button:hover {
    background-color: #218838;
}

@media (max-width: 600px) {
    .dish-form {
        width: 90%;
    }
}

.btn {
    display: inline-flex; 
    margin: 3px;
    align-items: center;
    justify-content: center; 
    padding: 8px; 
    border-radius: 5px; 
    text-decoration: none; 
    font-weight: bold; 
    color: white !important; 
    transition: background-color 0.3s; 
}

.btn-add {
    background-color: #28a745; 
    margin-bottom: 10px;
}

.btn-edit {
    background-color: #eab000; 
    width: 15px; 
    height: 15px; 
    border-radius: 5px; 
}

.btn-delete {
    background-color: #dc3545; 
    width: 15px; 
    height: 15px; 
    border-radius: 5px; 
}

.btn:hover {
    opacity: 0.8; 
}

.confirmation-dialog {
    max-width: 400px; 
    margin: 30px auto; 
    margin-bottom: 10em;
    padding: 20px; 
    border: 1px solid #ddd; 
    border-radius: 8px; 
    background-color: #fff; 
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1); 
    text-align: center; 
}

.confirmation-dialog h2 {
    margin-bottom: 20px; 
    font-size: 18px; 
    color: #333; 
}

.confirmation-dialog button {
    padding: 10px 20px; 
    border: none; 
    border-radius: 5px; 
    background-color: #dc3545; 
    color: white; 
    font-weight: bold; 
    cursor: pointer; 
    transition: background-color 0.3s; 
    margin-right: 10px; 
}

.confirmation-dialog button:hover {
    background-color: #c82333; 
}

.confirmation-dialog a {
    text-decoration: none; 
    color: #013467; 
    font-weight: bold; 
    transition: color 0.3s; 
}

.confirmation-dialog a:hover {
    color: #0067ce; 
}
    