{% extends 'base.html' %}
{% load static %}

{% block content %}

<div id="filter-section">
    <form method="get"> 
        {{ filter.form.dish_search}}
        <button type="submit"><i class="fas fa-search"></i></button><br>
        <select name="cuisine_type" onchange="this.form.submit()">
            {% for choice in filter.form.cuisine_type.field.choices %}
                <option value="{{ choice.0 }}" {% if filter.form.cuisine_type.value == choice.0 %}selected{% endif %}>
                    {{ choice.1 }}
                </option>
            {% endfor %}
        </select>
        
        <div class="toggle-container">
            <span>Veg</span>
            <label class="switch">
                <input type="checkbox" name="is_veg" 
                   value="1" 
                   {% if request.GET.is_veg %}checked{% endif %}
                   onchange="this.form.submit();"> 
                <span class="slider round"></span>
            </label>
        </div>
    </form>
</div>

    <h2>Menu for {{ restaurant.title }}</h2>
    {% for dish in menu_items %}
        <div class=restaurant-list>
            {% if dish.image %}
                <img src="{{ dish.image.url }}" alt="{{ restaurant.title }} photo">
            {% else %}
                <img src="{% static 'img/default_dish.jpg' %}" alt="{{ restaurant.title }} photo">
            {% endif %}
            
            <div class='res-attributes'>
                <h3>{{ dish.name }}</h3>
                <p> <b>Rs.{{ dish.price }}</b></p>
                <p>{{ dish.get_cuisine_type_display }}</p>
                <div class=foodtype>
                    {% if dish.is_veg %}
                        <img src="{% static 'img/veg.png' %}" alt="Vegetarian" title="Vegetarian">
                    {% else %}
                        <img src="{% static 'img/nonveg.png' %}" alt="Non-Vegetarian" title="Non-Vegetarian">
                    {% endif %}
                </div>
            </div>
        </div>
    {% empty %}
        <p>No dishes available at the moment.</p>
    {% endfor %}

    <div class="reviews">
        <a href="{% url 'add-review' restaurant.id %}">Add Review</a>
        <h2>Reviews</h2>
        <ul>
            {% for review in reviews %}
                <div class="review-list">
                    <li>
                        <strong>{{ review.user.username }}</strong>
                        <p><b>{{ review.rating }}</b></p>
                        <span class="star-rating">
                                {% for i in "12345" %}
                                    {% with rating_value=review.rating %}
                                        {% if rating_value >= forloop.counter %}
                                            <i class="fas fa-star"></i>
                                        {% elif rating_value > forloop.counter|add:-1 and rating_value < forloop.counter|add:0 %}  <!-- Check for half star -->
                                            <i class="fas fa-star-half-alt"></i>
                                        {% else %}
                                            <i class="far fa-star"></i>
                                        {% endif %}
                                    {% endwith %}
                                {% endfor %}
                        </span>
                        <p>{{ review.comment }}</p>
                    </li>
                </div>
            {% empty %}
                <li>No reviews yet.</li>
            {% endfor %}
        </ul>
    </div>
        
{% endblock %}

