{% extends 'base.html' %}
{% load static %}

{% block content %}
    <h2>Your Visited Restaurants</h2>
    {% for visit in visits %}
        <div class="restaurant-list">
            <a href="{% url 'restaurant-detail' visit.restaurant.id %}">
                {% if visit.restaurant.photos.first %}
                    <img src="{{ visit.restaurant.photos.first.image.url }}" alt="{{ visit.restaurant.title }} photo">
                {% else %}
                    <img src="{% static 'img/default_restaurant.jpg' %}" alt="{{ visit.restaurant.title }} photo">
                {% endif %}
                <div class='res-attributes'>
                    <h3>{{ visit.restaurant.title }}</h3>
                    <p>Rating: <b>{{ visit.restaurant.rating }}</b></p>
                    <p>Cost for Two:<b> Rs. {{ visit.restaurant.cost_for_two }}</b></p>
                    <p>Location: {{ visit.restaurant.location }}</p>
                    <p>{{ visit.restaurant.address }}</p>
                </div>
            </a>
            <form action="{% url 'remove-visit' visit.id %}" method="post" class="bookmark-form">
                {% csrf_token %}
                <button type="submit" class="bookmark-btn">
                    <i class="fas fa-trash" style="color:red;"></i>  Remove
                </button>
            </form>
        </div>
    {% empty %}
        <p>You haven't visited any restaurants yet.</p>
        <div class="back-to-list">
            <a href="{% url 'restaurant-list' %}"> Explore Restaurants </a>
        </div>
    {% endfor %}
{% endblock %}
